{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<!-- Welcome message on home page -->
<div class="container-fluid h-100 p-0 m-0">
    <div class="row h-100  ml-0">
        <!-- Call to action division -->
        <div class="col hero-text text-center">
            <h1 class="hero-title">Premium Quality</h1>
            <p class="refresh">Welconme to coffee World!</p>
            <h4>
            <a class="shop-now-button btn btn-ls rounded-0 text-uppercase" href="/">View Our Stock</a>
            </h4>
        </div>
    </div>
</div>
    
{% endblock %}