html {
    height: 100%;
}

body {
    background: url('/media/home_page.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Lobster';
    height: 100%;
}

/* home greeting text */
.hero-text {
    position: absolute;
    top: 40%;
    color: white;
}


/*  ALL PRODUCTS PAGE     */

/* Jumbotron */

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    background-color: #e9ecef;
    border-radius: 7.3rem;
}

/* Backgorund of Product Page */
.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #53514f;
    z-index: -1;
}

/* Product Detail Page */

.product_detail_page {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #b3875c;
    z-index: -1;
}

/* SORT PRODUCTS BADGE */
a.category-badge > span.badge:hover{
    color: rgb(136, 38, 38);
    background: rgb(114, 39, 39);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(143, 86, 86);
    color: white;
    min-width: 260px;
}

.btn-black {
    background: rgb(143, 86, 86);
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(114, 39, 39);
    color: white;
}

.text-silver {
    color: rgb(241, 234, 234) !important;
}

.border-black {
    border: 1px solid rgb(226, 71, 71) !important;
}


/* SCROLL TO TOP BUTTON */ 

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
    
}

@media (min-width: 992px){
.pt-lg-2, .py-lg-2 {
    padding-top: .5rem!important;
    background-color:  rgb(128, 126, 104);
    }
}

@media (max-width: 991px){
    .header-container{
        padding-top: 116px;
    }
    body{
        height: calc(100vh - 116px);
    }
}