{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center text-white subscribe">Subscribe for our weekly newsletter!</h4>
            {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert"> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{message}}
                </div>
                {% endfor %}
            {% else %}
            <form method="POST" class="text-white">
                {% csrf_token %}
                <div class="col-12 w-50 mx-auto">
                    {{ form|crispy }}
                    <span class="input-group-btn">
                        <button class="btn btn-danger">Submit</button>
                    </span>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    <h6 class="text-center">
        <a class="text-danger" href="{% url 'newsletter_unsubscribe' %}">Want to leave...?</a>
    </h6>
</div>

{% block footer %}
{% endblock %}

{% endblock %}