<!-- Nav Bar -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- SHOP LINKS -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-silver mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- ALL PRODUCTS LINKS -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-silver mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blends
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=beans " class="dropdown-item">Beans</a>
                <a href="{% url 'products' %}?category=grounded" class="dropdown-item">Grounded</a>
                <a href="{% url 'products' %}?category=beans,grounded" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- Coffee Makers -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-silver mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee Maker
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=moka" class="dropdown-item">Moka</a>
                <a href="{% url 'products' %}?category=aeropress" class="dropdown-item">Aeropress</a>
                <a href="{% url 'products' %}?category=french_press" class="dropdown-item">French Press</a>
                <a href="{% url 'products' %}?category=chemex" class="dropdown-item">Chemex</a>
                <a href="{% url 'products' %}?category=moka,aeropress,french_press,chemex" class="dropdown-item">All Coffee Makers</a>
            </div>
        </li>
        <!-- About us / Contact Us / Check our Blog -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-silver" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Contact Us</a>
                <a href="{% url 'home_blog' %}" class="dropdown-item">Check our Blog</a>
            </div>
        </li>
    </ul>
</div>